[alias]
        cs = commit -s
        ca = commit -a -s
        ll = log --oneline
        st = status -sb
[filter "lfs"]
        clean = git-lfs clean -- %f
        smudge = git-lfs smudge -- %f
        process = git-lfs filter-process
        required = true
[pull]
        rebase = true
[commit]
        gpgsign = true
[tag]
        gpgsign = true
[submodule]
        recurse = true
